{% extends "base.html" %}

{% block content %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">¡Bienvenido!</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <br>
            <br>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Comentarios</div>
                                    <!--div>New Comments!</div-->
                                </div>
                            </div>
                        </div>
                        <a href="../comentarios/crear">
                            <div class="panel-footer">
                                <span class="pull-left">NUEVO</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-graduation-cap fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Ayudantes</div>
                                    <!--div>New Tasks!</div-->
                                </div>
                            </div>
                        </div>
                        <a href="../ayudantes/crear">
                            <div class="panel-footer">
                                <span class="pull-left">NUEVO</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Usuarios</div>
                                    <!--div>New Orders!</div-->
                                </div>
                            </div>
                        </div>
                        <a href="../usuarios/crear">
                            <div class="panel-footer">
                                <span class="pull-left">NUEVO</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-sign-out fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Cerrar Sesión</div>
                                    <!--div>Aqui</div-->
                                </div>
                            </div>
                        </div>
                        <a href="../main/logout">
                            <div class="panel-footer">
                                <span class="pull-left">SALIR</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-table fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Evaluaciones</div>
                                        <!--div>New Comments!</div-->
                                    </div>
                                </div>
                            </div>
                            <a href="../comentarios/buscar">
                                <div class="panel-footer">
                                    <span class="pull-left">BUSCAR</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Secciones</div>
                                    <!--div>New Tasks!</div-->
                                </div>
                            </div>
                        </div>
                        <a href="../secciones/crear">
                            <div class="panel-footer">
                                <span class="pull-left">NUEVO</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cubes fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Cursos</div>
                                    <!--div>New Orders!</div-->
                                </div>
                            </div>
                        </div>
                        <a href="../cursos/crear">
                            <div class="panel-footer">
                                <span class="pull-left">NUEVO</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>  
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}